.mouse-scroll {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  margin: -17px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 50px;
  width: 30px;
  z-index: 10;
  cursor: pointer; 

  &::after {
    position: relative;
    top: 4px;
    content: "";
    display: block;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @include md {
    display: none;
  }
}

@keyframes drop {
  0%{top: 5px;opacity:0}
  30%{top: 10px;opacity:1}
  100%{top: 25px;opacity:0}
}
