body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff url('../img/general/math.jpg') no-repeat fixed center;
  background-size: cover;
  font-family: $first-font;
  color: $color-dark;
}

// margin: auto auto 0 auto; - use if width not 100%;
footer {
  margin: auto 0 0 0;
}

address {
  font-style: normal;
}


